{% extends "layouts/base.html" %}

{% block title %} Case Management Dashboard {% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header bg-gradient-dark shadow-sm d-flex justify-content-between align-items-center">
            <h4 class="mb-0 text-white">Investigation Workspaces</h4>
        </div>

        <div class="card-body">
          {% if routes %}
            <ul class="list-group list-group-flush">
              {% for link in routes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="text-capitalize">
                    <i class="ni ni-collection text-primary me-2"></i>
                    {{ link.replace('_', ' ') }}
                  </span>
                  <a href="{{ url_for('table_blueprint.model_dt', aPath=link) }}" class="btn btn-outline-primary btn-sm">
                    View
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="text-muted">No tables found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<!-- Дополнительные JS-скрипты -->
{% endblock javascripts %}
